<div class="game">
  <p class="question">{{ data.question | capitalize }}</p>
  <app-wordcloud
    [words]="words"
    [width]="500"
    [height]="350"
    [interactive]="state == GameState.SELECTING"
    [showTooltips]="state == GameState.CHECKING"
    (select)="onWordSelect($event)"
    class="cloud"
  ></app-wordcloud>
  <button *ngIf="state == GameState.SELECTING" mat-stroked-button (click)="onCheckAnswers()">check answers</button>
  <button *ngIf="state == GameState.CHECKING" mat-stroked-button (click)="onFinishGame()">finish game</button>
</div>
