<div class="scores">
  <p>Congratulations, {{ loginService.currentUser | async }}!</p>
  <div class="list" *ngIf="(scoresService.scores | async) as scores">
    <p class="score">
      <span>Your score:</span>
      <span class="points">{{ scores.last }} points</span>
    </p>
    <p class="score">
      <span>Your highscore:</span>
      <span class="points">{{ scores.highscore }} points</span>
    </p>
    <p class="score">
      <span>Your total score:</span>
      <span class="points">{{ scores.total }} points</span>
    </p>
  </div>
  
  <button color="primary" routerLink="/" mat-stroked-button>play again</button>
</div>
  